In [19]:
import pandas as pd

## Searching for duplicate values

Search for duplicate and missing data of the original data and the first updated data

In [20]:
df = pd.read_csv('data/Kaub_Level_Since_2013.csv')
print('Here are the rows that are duplicate in the data:')
df[df.duplicated(['date'])]

Here are the rows that are duplicate in the data:

            date  level
2521  2019-11-26    129
2535  2019-12-09    163

In [21]:
df_updated = pd.read_csv('data/Kaub_Level_Since_2013_updated.csv')
df_update1 = df_updated[df_updated.duplicated(['date'])]
print('These are a list of duplicate values: ')
print('Info: A value once in this list means it is twice in the dataset. \nIf it appears\
 twice in this list, then it is thrice in the dataset and so on.')
df_update1

These are a list of duplicate values:
Info: A value once in this list means it is twice in the dataset.
If it appears twice in this list, then it is thrice in the dataset and so on.

            date  level
2521  2019-11-26    129
2535  2019-12-09    163
3101  2021-06-26    335
3102  2021-06-26    335
3104  2021-06-27    336
3105  2021-06-27    336
3107  2021-06-28    321
3108  2021-06-28    321
3110  2021-06-29    312
3112  2021-06-30    354
3114  2021-07-01    366
3116  2021-07-02    380
3117  2021-07-02    380
3118  2021-07-02    380
3120  2021-07-03    383
3122  2021-07-04    368
3124  2021-07-05    345
3126  2021-07-06    334
3128  2021-07-07    329
3130  2021-07-08    319

In [22]:
df_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3209 entries, 0 to 3208
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3209 non-null   object
 1   level   3209 non-null   int64
dtypes: int64(1), object(1)
memory usage: 50.3+ KB

## Searching for missing values
First, let's have a look how much more data is in the updated data in contrast to the original data

In [23]:
df.tail()

            date  level
3219  2021-10-23    117
3220  2021-10-24    105
3221  2021-10-25     93
3222  2021-10-26     85
3223  2021-10-27     82

In [24]:
df_updated.tail()

            date  level
3204  2021-11-19     86
3205  2021-11-20     83
3206  2021-11-21     79
3207  2021-11-22     75
3208  2021-11-23     75

In [25]:
print(f'Length of orignal data: {len(df)} vs. Length of updated data: {len(df_updated)}')

Length of orignal data: 3224 vs. Length of updated data: 3209

So even though the updated data should have 27 more rows than the original data, it has less data. This suggests, that there is data missing in the updated data. This is actually amplified since the updated values has more duplicate values than the original data.

In [26]:
df_updated_index = df_updated.set_index(df_updated['date'])
df_updated_index.index = pd.to_datetime(df_updated_index.index)
dates = pd.date_range(start=df_updated['date'].iloc[0], end=df_updated['date'].iloc[-1]).difference(df_updated_index.index)
print('These are the missing dates on the updated data: \n', dates)
print(f'There are a total of {len(dates)} dates missing.')

These are the missing dates on the updated data:
 DatetimeIndex(['2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26',
               '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30',
               '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03',
               '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07',
               '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11',
               '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15',
               '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19',
               '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23',
               '2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27',
               '2021-08-28', '2021-08-29', '2021-08-30', '2021-08-31',
               '2021-09-01', '2021-09-02', '2021-09-03', '2021-09-04',
               '2021-09-05', '2021-09-06', '2021-09-07', '2021-09-08',
               '2021-09-09', '2021-09-10', '2021-09-11', '2021-09-12',
               '2021-09-13', '2021-09-14', '2021-09-15', '2021-09-16',
               '2021-09-17', '2021-09-18', '2021-09-19', '2021-09-20'],
              dtype='datetime64[ns]', freq=None)
There are a total of 60 dates missing.

One can see, that the end of july, the whole august, and part of the september is missing.
In the following, I'll have a look at missing data in the original data for completeness.

In [27]:
df_index = df.set_index(df['date'])
df_index.index = pd.to_datetime(df_index.index)
dates_original = pd.date_range(start=df['date'].iloc[0], end=df['date'].iloc[-1]).difference(df_index.index)
print('These are the missing dates on the updated data: \n', dates_original)
print(f'There are a total of {len(dates_original)} dates missing.')

These are the missing dates on the updated data:
 DatetimeIndex([], dtype='datetime64[ns]', freq=None)
There are a total of 0 dates missing.